<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-2>
                <ion-avatar>
                    <img src="https://professores.escolamaisfacil.com.br/assets/dist/img/cadeado.png" width="35px">
                </ion-avatar>
            </ion-col>
            <ion-col col-10 text-center>
                <ion-title>Sistema de Cadastro</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2> QRcode</h2>

    <ion-row text-center>
        <ion-col>
            <div><button ion-button (click)="Encode()">Gerar QRcode</button></div>
        </ion-col>
        <ion-col>
            <div><button ion-button (click)="Scan()">Scan QRcode</button></div>
        </ion-col>
    </ion-row>

    <div *ngIf="dadosLidos">
        <p>Código escaneado: {{codigo}}</p>
        <p>Formato do código: {{formato}} </p>
    </div>
    <br><br><br>

    <h1>Cadastro de Objetos</h1>

    <form (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="todo.nome" name="nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Local</ion-label>
            <ion-input type="text" [(ngModel)]="todo.local" name="local"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>QrCode</ion-label>
            <ion-input type="text" [(ngModel)]="todo.qrcode" name="qrcode" value="{{codigo}}"></ion-input>
        </ion-item>


        <button ion-button type="submit" block>Cadastrar</button>
    </form>
    <div *ngIf="retorno">
        <p>{{retorno}}</p>
    </div>


</ion-content>